@charset "utf-8";
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
			format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
			format('woff');
}
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
			format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
			format('woff');
}
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
			format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
			format('woff');
}
.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}

// common
@import './common/footer';
@import './common/header';

// main
@import './main/find';
@import './main/startups';
@import './main/menu';
@import './main/order';
@import './main/recipe';
@import './main/slide';

@import './common/sub_layout';

// sub
@import './sub/Menu';
@import './sub/BHCintroduce';
@import './sub/store';
@import './sub/Ecupon';
@import './sub/Startups';
